@charset 'UTF-8';

* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family:'Cordel Encarnado' ;
    src: url(..//fontes/Cordel\ Encarnado.otf) format('OpenType');
}

:root {
    --fontcordel: 'Cordel Encarnado';
}
body {
    background-color: white;
    font-family: sans-serif;
}

p {
    line-height: 2em;
}

header {
   background-color: black;
   color: white;
   height: 150px;
   text-align: center;
   padding: 40px;
}

header > h1 {
   font-family: var(--fontcordel);
   font-size: 3em;
   font-weight: normal;

}

header > p {
    font-family: sans-serif;
}
a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#img1 {
    background-image: url(../imagens/cordel1.jpg);
    padding: 50px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.normal {
    padding: 20px 10px 20px 65px;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.541);
    color: white;
    display: inline-block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
    padding: 20px;

}
#img2 {
    background-image: url(../imagens/cordel2.jpg);
    padding: 50px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer  {
    font-size: 0.7em;
}